<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DykBits.Crm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DykBits.Crm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
    <DykBits.Crm.Properties.Settings>
      <setting name="ApplicationTheme" serializeAs="String">
        <value>Office2013</value>
      </setting>
    </DykBits.Crm.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DykBits.Crm.Properties.Settings>
      <setting name="RemoteConnectionString" serializeAs="String">
        <value>Data Source=net.tcp://bhw-112.bh.local:38734/DykBits.DataService/DocumentService/;Integrated Security=true;</value>
      </setting>
      <setting name="EndpointIdentity" serializeAs="String">
        <value>d.kolchev@bh.local</value>
      </setting>
      <setting name="BlobServiceBaseAddress" serializeAs="String">
        <value>net.tcp://bhw-112.bh.local:38733/DykBits.BlobSvc/BlobService/</value>
      </setting>
    </DykBits.Crm.Properties.Settings>
  </applicationSettings>
</configuration>
