<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DykBits.DataService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DykBits.DataService.Properties.Settings.CrmDbConnection" connectionString="Data Source=localhost;Initial Catalog=CrmDb;Integrated Security=True;Application Name=&quot;DykBits CRM Data Service&quot;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <applicationSettings>
    <DykBits.DataService.Properties.Settings>
      <setting name="ServiceBaseAddess" serializeAs="String">
        <value>net.tcp://localhost:38734/DykBits.DataService/DocumentService/</value>
      </setting>
      <setting name="BlobServiceBaseAddress" serializeAs="String">
        <value>net.tcp://localhost:38733/DykBits.BlobSvc/BlobService/</value>
      </setting>
      <setting name="PathToStorage" serializeAs="String">
        <value>c:\datastore\Main</value>
      </setting>
    </DykBits.DataService.Properties.Settings>
  </applicationSettings>
</configuration>
